body {
    background: url("../img/i13.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
.img{
    display: flex;
  justify-content: center;
  align-items: center;
}

.c{
    text-align:center;
    border:1px dotted #000;
     padding:8px;
    color: #ffffff;
}
.contenedor{

    width: 960px;
    margin: auto;
    margin-top: 20px;
    background-color:rgba(0, 0, 0,0.3);
    color: #ffffff;
}

.contenedor2{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    background-color:rgba(0, 0, 0,0.3);
    color: #ffffff;
}
.contenedor3{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0,0.3);
    color: #ffffff;

}

li{
    float: left;
}
.t1{
    color: navy;
    
}
li a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover{
    background-color: #111;
}
.l1 {
    float: left;
}



.p1{
   background-color: peru;
   margin-right: 300px;
   margin-left: 300px;
}

.p2{
   background-color: peru;
   margin-right: 300px;
   margin-left: 300px;
}

.p3{
    background-color: peru;
    margin-right: 300px;
    margin-left: 300px;
}

.p4{
    background-color: peru;
    margin-right: 300px;
    margin-left: 300px;
}

.t1{
    width: 25.9%;
}

.t2{
    width: 25.2%;
}

.t3{
    width: 29%;
}

.t4{
    width: 30.3%;
}

.t5{
    width: 32.5%;
}

.t6{
    width: 32.5%;
}

.t7{
    width: 31.5%;
}

.b1{
    width: 10%;
}

.b2{
    width: 10%;
}
 ol li {
    margin-left: 310px;
    float: left;
    padding: 0px;
}